fieldset {
    border: 1px solid grey; /* Параметры границы */
    margin: 5px;
    padding: 10px;
    border-radius: 5px;

}
legend {
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 0 2px rgba(0,0,0,0.5); /* Параметры тени */
    width: auto;
    position: relative;
    top: 1px;
    background-color: #fff;
    border-radius: 2px;
    padding: 7px;
}
.help_page {
	padding:10px;
}
.help_page p {
    font-size: 15px;
}
.help_page ul li::before {
	content:"- ";
}
.help_page li {
	font-size: 15px;
}
